@import 'aged.css';

@font-face {
	font-family: 'SST';
	font-display: optional;
	src: url("/assets/fonts/SST/83251142-c85f-4da7-aed0-1cea73e3606a.eot?#iefix");
	src: url("/assets/fonts/SST/83251142-c85f-4da7-aed0-1cea73e3606a.eot?#iefix") format('eot'), url("/assets/fonts/SST/68f1bb9f-2c5f-44c4-ab8e-193b6fb6b8a8.woff2") format('woff2'), url("/assets/fonts/SST/f17f812e-1324-4606-bfa3-b8af9ffcbb1d.woff") format('woff'), url("/assets/fonts/SST/e4b894b7-ba72-481a-b473-c9c4ebc28734.ttf") format('truetype'), url("/assets/fonts/SST/459f7e36-5411-432f-a57f-59a6066d2f53.svg#459f7e36-5411-432f-a57f-59a6066d2f53") format('svg');
	font-weight: 300
}

@font-face {
	font-family: 'SST';
	font-display: optional;
	src: url("/assets/fonts/SST/579c4043-e6a1-4134-b662-f7d7ee8702da.eot?#iefix");
	src: url("/assets/fonts/SST/579c4043-e6a1-4134-b662-f7d7ee8702da.eot?#iefix") format('eot'), url("/assets/fonts/SST/dcb015ed-475f-4221-9b3c-157c4b6bc4ca.woff2") format('woff2'), url("/assets/fonts/SST/509e2a7d-d453-44aa-a0b2-8cb7fb111da7.woff") format('woff'), url("/assets/fonts/SST/272b855f-023a-4425-9eba-8aac7ee2d57f.ttf") format('truetype'), url("/assets/fonts/SST/f6c79224-e623-40ae-a271-c5ede45ef47f.svg#f6c79224-e623-40ae-a271-c5ede45ef47f") format('svg');
	font-weight: 400
}

@font-face {
	font-family: 'SST';
	font-display: optional;
	src: url("/assets/fonts/SST/fd5755e8-609f-42c6-ad6d-33c44e5de28a.eot?#iefix");
	src: url("/assets/fonts/SST/fd5755e8-609f-42c6-ad6d-33c44e5de28a.eot?#iefix") format('eot'), url("/assets/fonts/SST/ddee892c-8380-4323-84a1-11374952a430.woff2") format('woff2'), url("/assets/fonts/SST/a8b01fae-a36c-4d28-889a-94f25849cc70.woff") format('woff'), url("/assets/fonts/SST/9fe61794-5d79-4627-bcfe-20659138bd20.ttf") format('truetype'), url("/assets/fonts/SST/d7a699c4-c2f6-404b-bde9-3eb3e304d59d.svg#d7a699c4-c2f6-404b-bde9-3eb3e304d59d") format('svg');
	font-weight: 500
}

@font-face {
	font-family: 'SST';
	font-display: optional;
	src: url("/assets/fonts/SST/8e300b9c-20c7-4d49-89d5-7c1574ad6153.eot?#iefix");
	src: url("/assets/fonts/SST/8e300b9c-20c7-4d49-89d5-7c1574ad6153.eot?#iefix") format('eot'), url("/assets/fonts/SST/f2c57125-0b07-4b47-9b3e-cb9f6f2217aa.woff2") format('woff2'), url("/assets/fonts/SST/416e4815-4bb6-459f-a85a-f2362db24801.woff") format('woff'), url("/assets/fonts/SST/578a125a-fb8e-4772-97b8-e20e93af0918.ttf") format('truetype'), url("/assets/fonts/SST/18454fa5-a4e1-4c3a-a330-8992600cee7f.svg#18454fa5-a4e1-4c3a-a330-8992600cee7f") format('svg');
	font-weight: 700
}

html {
	height: 100%;
	font-size: 8px;
	line-height: 3rem;
	height: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden
}

*,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit
}

body,
table,
div,
p,
dl {
	font-family: SST, 'Helvetica Neue', Helvetica, sans-serif
}

body {
	min-height: 100%;
	height: auto;
	font-size: 2rem;
	line-height: 3rem;
	color: #212530;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased
}

#main-nav {
	width: 100%;
	border: none;
	border-radius: 0;
	-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	color: #000000;
}

#top-header {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 64px;
	padding-left: 24px;
	background-color: #000
}

#search input {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 4rem;
	border-radius: 0;
	font-size: 1.875rem;
	padding-left: 4rem;
	border-radius: 2px;
	-webkit-appearance: none
}

#search-results {
	border-radius: 0;
	border-color: #000;
	padding: 2rem;
	width: 80%;
	max-width: 920px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch
}

#search-results small {
	font-size: 1.865rem;
	line-height: 1.4em;
	color: #2f353d
}

.inner-addon .fa {
	position: absolute;
	pointer-events: none;
	padding-top: .9rem;
	padding-left: 1rem
}

.languages img {
	border-radius: 2px;
	width: 20px
}

.logo-img {
	margin: 0
}

.project-name:link,
.project-name:visited {
	font-size: 2rem;
	color: #fff;
	text-decoration: none;
	font-weight: 400
}

.project-name:link:hover,
.project-name:visited:hover {
	color: #bcbccc;
	text-decoration: none
}

.language:link,
.language:visited {
	color: #fff
}

.language:link:hover,
.language:visited:hover {
	color: #bcbccc;
	text-decoration: none
}

#project-name-1 {
	font-weight: 600
}

.languages img {
	margin: unset;
	display: unset
}

.ulist {
	border-radius: 0;
	padding: 0
}

#footer {
	background-color: #000
}

#toc.toc,
#toc.toc2 {
	padding-top: 4rem
}

#toc.toc2 #toctitle {
	font-size: 14px;
	font-weight: 700;
	color: #000
}

#toc .toc2 {
	background-color: #f3f3f3;
	-webkit-overflow-scrolling: touch
}

ul.sectlevel1 li a {
	font-size: 14px;
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif
}

ul.sectlevel2 li a {
	font-size: 13px
}

#toc li a.active {
	color: #416eec
}

#toc a {
	color: #121518;
}

#toc a:hover {
	font-style: normal;
	text-decoration: none;
	color: #416eec
}

@media only screen and (max-width:374px) {
	.project-name {
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		width: 100%;
		margin-left: .5rem
	}
	.languages {
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2
	}
}

@media only screen and (max-width:500px) {
	#project-name-0 {
		display: none
	}
}

@media only screen and (max-width:767px) {
	* {
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}

	#content {
		min-width: 280px
	}
	#main-nav {
		width: 100vw;
		-webkit-box-shadow: none;
		box-shadow: none;
		-webkit-box-shadow: inset 0 -3px 0 0 #000;
		box-shadow: inset 0 -3px 0 0 #000;
		background-color: #fff;
		padding-top: 0;
	}

	#main-nav a {
		color: #000;
	}

	.header--logo.link--default {
		display: unset
	}
	#main-nav .icon {
		right: unset;
		left: 0;
		top: 0;
		background-color: #fff
	}
	#project-name {
		font-weight: 600;
		margin-left: 1em
	}
	#main-nav .icon>.fa {
		padding: 1.5rem
	}
	#main-nav>ul {
		margin-top: 3rem;
		padding-left: 2rem
	}
	#main-nav li:hover>p {
		background-color: unset
	}
	#main-nav li:hover>p>a {
		color: #416eec
	}
	#search input {
		font-size: 2rem;
		width: 100%
	}
	#search-results {
		padding: 1rem;
		width: calc(100% - 3rem);
		right: initial !important;
		margin: 0 auto;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-overflow-scrolling: touch;
		overflow-x: hidden;
		word-break: break-all
	}
	#top-header {
		height: auto;
		padding: 2rem
	}
	#search {
		margin-top: 2rem;
		width: calc( 100% - 70px );
	}
	.table {
		padding: 0;
		width: calc(100vw - 4rem);
		overflow-x: auto
	}
	#toc *,
	#main-nav * {
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
	#toc.toc,
	#toc.toc2 {
		padding-left: 2rem;
		padding-right: 2rem
	}
	#toc ul {
		padding-left: 0
	}
	#toc li {
		line-height: 1.3em
	}
	#toc ul.sectlevel1 li a {
		font-size: 2rem
	}
	table thead tr th,
	table thead tr td,
	td.tableblock p {
		font-size: 1.625rem;
		font-size: 2rem
	}
}

@media only screen and (min-width:768px) {
	@supports (display: grid) {
		#main-nav {
			height: 40px;
			max-height: 40px;
		}
	}

	#main-nav {
		margin: 0 auto;
		padding-left: 24px
		a { color: #0000; }
	}
	#main-nav>ul {
		margin: 0;
		padding: 0;
		margin-left: -8px
	}
	#main-nav>ul>li {
		margin-bottom: 0;
		border-bottom: none;
		margin-right: 2.5rem;
	}
	#main-nav>ul>li:hover {
		border: none;
		background-color: initial
	}
	#main-nav ul li {
		border: none
	}
	#main-nav>ul>li>p {
		cursor: pointer;
		padding: 1.5rem 1rem;
		-webkit-transition: .15s;
		transition: .15s;
		text-decoration: none;
		white-space: nowrap;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		display: block;
		font-size: 1.625rem;
		margin-bottom: 0;
	}

	#main-nav > ul > li > p,
	#main-nav > ul > li > p > a,
	#main-nav > ul > li:hover > p,
	#main-nav > ul > li:hover > p > a {
		color: #000000;
	}

	#main-nav>ul>li>p:hover {
		-webkit-box-shadow: inset 0 -4px 0 #dcdcdc;
		box-shadow: inset 0 -4px 0 #dcdcdc;
		color: #121518
	}
	#main-nav>ul>li>p:active,
	#main-nav>ul>li>p.active {
		-webkit-box-shadow: inset 0 -4px 0 #416eec;
		box-shadow: inset 0 -4px 0 #416eec;
		font-weight: normal
	}
  #main-nav>ul>li.current_page>p
  {
    -webkit-box-shadow: inset 0 -4px 0 #416eec;
		box-shadow: inset 0 -4px 0 #416eec;
  }
	#main-nav>ul>li>p::after {
		display: inline-block;
		height: 9px;
		padding-right: 2.3rem;
    content: "\f0d7";
    font-size: 1em;
    vertical-align: top;
    font-family: "FontAwesome";
    padding-left: 3px;
	}
	#main-nav>ul>li>p:only-child:after {
		display: none
	}
	#main-nav>ul>li>div,
	#main-nav>ul>li>div ul>li>div {
		padding: 0;
		border-radius: 0;
		-webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15)
	}
	#main-nav>ul>li>div ul,
	#main-nav>ul>li.current_page>div ul,
	#main-nav>ul>li>div ul>li>div ul {
		padding: 0;
		border-top-width: 5px;
		border-top-color: #416eec
	}
	#main-nav>ul>li:hover>div,
	#main-nav>ul li:focus-within>div,
	#main-nav>ul>li>div ul>li:hover>div {
		margin-top: -3px
	}
	#main-nav>ul>li>div ul>li,
	#main-nav>ul>li>div ul>li>p,
	#main-nav>ul>li>div ul>li>div ul>li>p,
	#main-nav>ul>li>div ul>li>div ul>li {
		padding: 0;
		margin-bottom: 0
	}
	@supports (display: grid) {
		#main-nav>ul>li>div ul>li>p>a {
			border-bottom: solid 1px #f3f3f3;
		}
		#main-nav>ul>li>div ul>li>p>a:hover {
			background-color: #f1f5f9;
		}
	}
	#main-nav>ul>li>div ul>li>p>a {
		padding: 1.625rem 2.125rem;
		text-decoration: none;
		color: #2f353d;
		font-size: 1.625rem;
		min-width: 200px;
		margin-bottom: 0;
	}
	#main-nav>ul>li>div ul>li>p>a:hover {
		color: #416eec
	}
	#main-nav>ul>li>div ul>li:last-child>p,
	#main-nav>ul>li>div ul>li:last-child>p>a {
		border-bottom: none
	}
	#toc.toc2 #toctitle {
		font-size: 14px;
		font-weight: 700
	}
	#header,
	#content {
		padding: 0 6rem;
		margin-top: 0
	}
	.project-name {
		margin-left: 3.5rem
	}
	.languages {
		margin-left: auto
	}
}

#header #revnumber {
	font-weight: 700;
	font-size: 1.6rem;
	color: #000
}

.admonitionblock td.content>.title,
.audioblock>.title,
.exampleblock>.title,
.imageblock>.title,
.listingblock>.title,
.literalblock>.title,
.stemblock>.title,
.openblock>.title,
.paragraph>.title,
.quoteblock>.title,
table.tableblock>.title,
.verseblock>.title,
.videoblock>.title,
.dlist>.title,
.olist>.title,
.ulist>.title,
.qlist>.title,
.hdlist>.title {
	font-family: SST, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2rem;
	line-height: 3rem;
	font-style: italic;
	font-weight: 400;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%
}

#content h1>a.anchor:before,
h2>a.anchor:before,
h3>a.anchor:before,
#toctitle>a.anchor:before,
.sidebarblock>.content>.title>a.anchor:before,
h4>a.anchor:before,
h5>a.anchor:before,
h6>a.anchor:before {
	content: "\00A7";
	font-size: 1em;
	display: block;
	margin-top: -.15em
}

#content h1>a.anchor:before,
h2>a.anchor:before,
h3>a.anchor:before {
	font-weight: 300;
	font-size: .85em;
	margin-top: -.15em
}

td.tableblock p {
	margin-bottom: 0
}

td.tableblock>.content {
	margin-bottom: initial
}

div>*:first-child {
	margin-top: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
	display: block
}

h1 {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 6rem;
	line-height: 1.2em;
	letter-spacing: -.04em;
	margin-bottom: .3em;
	margin-top: 1em;
	padding-top: 1em;
}

h2 {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 4.5rem;
	line-height: 1.2em;
	letter-spacing: -.04em;
	margin-bottom: .75em;
	margin-top: 1em
}

h3 {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 3.5rem;
	line-height: 1.2em;
	letter-spacing: -.04em;
	margin-bottom: .75em;
	margin-top: 1em
}

h4 {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 1.2em;
	letter-spacing: -.02em;
	margin-bottom: 1rem;
	margin-top: 1em
}

h5 {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 2rem;
	line-height: 1.2em;
	margin-bottom: .75rem;
	margin-top: 1em
}

h6 {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: unset;
	margin-bottom: .75rem;
	margin-top: 1em;
}

h7 {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 1.625rem;
	line-height: 1.2em;
	margin-bottom: .5em;
	margin-top: 1em
}

p {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	line-height: 1.5em;
	margin-bottom: .75em;
}

p.footnote {
	font-size: 1.5rem;
	line-height: 1.33333em;
	color: #767676;
	max-width: 80%
}

code {
	font-family: monospace;
	font-size: 1.625rem;
	padding: .25em .3em .25em .3em;
	background-color: rgba(47, 53, 61, 0.05)
}

a,
a:link,
a:visited {
	color: #416eec;
	-webkit-transition: color .2s;
	transition: color .2s;
}

a:hover,
a:link:hover,
a:visited:hover {
	color: #145aaa;
	text-decoration: underline
}

.eyebrow {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	line-height: 1.5em;
	font-style: normal;
	font-size: 1.5rem;
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	display: block;
	margin-bottom: 1rem;
	text-transform: uppercase
}

ul {
	text-align: left;
	padding-left: 3rem;
	margin: .5rem 0 3rem 0
}

ol {
	text-align: left;
	padding-left: 3rem;
	margin: .5rem 0 3rem 0
}

li {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	line-height: 1.5em;
	margin-bottom: 1.5rem
}

ul ul,
ul ol,
ol ol,
ol ul,
li ul,
li ol {
	margin-bottom: 2rem;
	margin-top: 1rem
}

li li {
	margin-bottom: .5rem
}

dl {
	text-align: left;
	margin-bottom: .75em
}

dt {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 1.875rem;
	line-height: 1.2em
}

dd {
	font-family: "SST", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 2rem;
	line-height: 1.5em;
	padding-left: 3rem
}

pre {
	color: #212530;
	margin-bottom: .75em;
	padding: 1rem 0
}

pre>pre {
	padding: 0;
	margin-bottom: 0
}

pre>pre>code {
	padding: .5em 1em
}

code {
	font-family: monospace;
	font-size: 1.75rem;
	padding: .25em .3em .25em .3em;
	background-color: rgba(0, 0, 0, 0.1)
}

sup {
	vertical-align: super;
	font-size: 1.5rem;
	line-height: 1.5em;
	display: inline-block
}

img {
	margin-bottom: 3rem;
	display: block;
	max-width: 100%
}

blockquote {
	color: #293d54;
	font-weight: 500;
	margin: 4rem 0 4rem 6rem;
	font-style: italic;
	font-size: 2rem;
	line-height: 1.75em;
}

blockquote p {
	font-size: 2.5rem;
	line-height: 1.5em;
	font-weight: 300;
	color: #293d54;
	text-rendering: optimizeLegibility
}

#header, #content, #footnotes {
	max-width: 130rem
}

#to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1020;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0,0.6);
  color: #FFF;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 1s;
  -webkit-box-shadow: 3px 3px 4px #0006;
  box-shadow: 3px 3px 4px #0006;
}

#to-top-btn:hover{
	background-color: #000;
}

@media screen and (max-width:768px) {
  h1 {
    font-size: 4.800000000000001rem
  }

  h2 {
    font-size: 3.6rem
  }

  h3 {
    font-size: 2.8rem
  }

  h4 {
    font-size: 2.2rem
  }

  pre>code, pre>pre>code, code {
    word-break: break-all
  }
}

@media screen and (max-width:480px) {
  h1 {
    font-size: 4.5rem
  }

  h2 {
    font-size: 3.5rem
  }

  h3 {
    font-size: 2.75rem
  }

  h4 {
    font-size: 2rem
  }

  p {
    font-size: 2rem
  }
}

code {
  background-color: #efefef
}

h1, h2, h3, h4, h5, p, ul, ol, dl, dt, blockquote {
  max-width: unset
}

h2 {
  position: relative;
  padding: 0 .4em .1em;
}
h2::after {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #0043ff78;
}
h3 {
  position: relative;
  padding-bottom: .5em;
  border-bottom: 4px solid #ccc;
}
h3::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  z-index: 2;
  content: '';
  width: 25%;
  height: 4px;
  background-color: #0043ff;
}
